# ===== BACKEND =====
PORT=3001
NODE_ENV=development
USE_MOCK_DATA=true

# ===== DATABASE =====
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/devlab?retryWrites=true&w=majority

# ===== FRONTEND =====
NEXT_PUBLIC_API_URL=http://localhost:3001/api
